@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Rajdhani:wght@300;400;500;600;700&display=swap");

* {
  font-family: "Rajdhani", sans-serif;
  font-weight: 300;
  font-style: normal;
}

img {
    max-width: 400px;
    border-radius: 7px;
}

#section-container {
    color: black;
    background-color: #e5e5e5;
    display: flex;
    justify-content: center;
}

.section {
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.box-menu {
    padding: 15px;
}

.image-gallery-secction {
  display: flex;
  flex-wrap: wrap;
}

.container-content {
    padding: 10px;
}

.img-row-wrap {
  flex-flow: row wrap;
}

.backgroundGreen {
  background-color: aquamarine;
}

#headerIlustraciones {
  background-color: #e5e5e5;
}

#headerMusica {
  background-color: orange;
}

.grid-container {
    display: grid;
    grid-template-rows: repeat(4,150px);
    grid-template-columns: 1fr 1fr 1fr;
}
